.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #111b11;
    color: #ffd500;
    text-align: center;
    line-height: 60px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1001;
}

.top-button {
    position: fixed;
    top: 7px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1002;
    background-color: #228b22;
    color: #ffea00;
    border: yes;
    border-color: #3d7a41;
    border-radius: 1px;
    padding: 12px 28px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, color 0.3s;
}

.top-button:hover {
    background-color: #3d7a41;
    color: #fffb00;
}

a,
a:link,
a:visited {
    color: #4fc3f7;
    /* Light blue */
    text-decoration: none;
}

body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fravenfieldponds.co.uk%2Fwp-content%2Fuploads%2F2014%2F10%2Fnew-pond-icon.jpg&f=1&nofb=1&ipt=216866915ef6a11878c014417c3a6d5bb238277f61402febcb06d406ec13a9fb);
}

p {
    color: rgb(255, 187, 0);
    background-color: #111b11;
    border-radius: 19px;

}

br {
    line-height: 5;
}

mark {

    background-color: #111b11;
    border-radius: 19px;

}

.epic-button {
    background-color: #228b22;
    color: #ffea00;
    border: yes;
    border-color: #3d7a41;
    border-radius: 1px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, color 0.3s;
}

iframe {
    width: 1065px;
    height: 600px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-width: 19px;
    border-style: ridge;
    border-color: rgb(255, 221, 0);
}